---
import HeartButton from "@/components/HeartButton"
import PlayButtonPlaylist from "@/components/PlayButtonPlaylist"
import SongListTable from "@/components/SongListTable.astro"
import { allPlaylists, songs } from "@/lib/data"
import Layout from "../../layouts/Layout.astro"
const { id } = Astro.params

const playlist = allPlaylists.find((playlist) => playlist.id === id)
const color = playlist?.color.dark

const playListSongs = songs.filter((song) => song.albumId === playlist?.albumId)
---

<Layout title="Spotify Clone">
  <div
    id="playlist-container"
    style=`--context-color:${color}`
    class=`relative flex flex-col bg-gradient-to-b from-context overflow-x-hidden p-6`
    transition:name=`playlist ${playlist?.id} box`
  >
    <!-- Header / Login-->
    <header class="flex flex-row gap-6">
      <picture class="aspect-square w-52 h-52 flex-none">
        <img
          src={playlist?.cover}
          alt={`${playlist?.title}`}
          class="object-cover w-full h-full rounded-md"
          transition:name=`playlist ${playlist?.id} image`
        />
      </picture>
      <div class="flex flex-col mt-6">
        <h2 class="flex flex-1 items-end">Playlist</h2>
        <div>
          <h1 class="text-5xl font-bold block text-white">
            {playlist?.title}
            <span transition:name=`playlist ${playlist?.id} title`></span>
          </h1>
        </div>

        <div class="flex-1 flex items-end">
          <div class="text-sm text-gray-400 font-normal">
            <div transition:name=`playlist ${playlist?.id} artists`>
              <span>{playlist?.artists.join(", ")}</span>
            </div>
            <p class="mt-1">
              <span class="text-white">{playListSongs.length} songs</span>,
              about 3 hr 15 min
            </p>
          </div>
        </div>
      </div>
    </header>

    <div
      class=`absolute inset-0 bg-gradient-to-b from-[${color}] via-zinc-900/80 -z-[1]`
    >
    </div>

    <!-- <div
      class={`absolute inset-0 ${
        color
          ? `bg-gradient-to-b from-[${color}] via-[${color}]/80`
          : "bg-gradient-to-b from-zinc-900 via-zinc-900/80"
      } -z-[1]`}
    >
    </div> -->
    <!-- <div class="relative z-10 px-2 pt-12"></div> -->

    <div class="flex flex-row pt-6 gap-4 mt-6">
      <PlayButtonPlaylist
        id={id || ""}
        className="p-3 hover:scale-[1.03] hover:bg-green-400/95"
        client:visible
      />
      <HeartButton client:visible />
    </div>

    <section class="pt-6">
      <SongListTable songs={playListSongs} />
    </section>

    <!--  class="absolute inset-0 bg-gradient-to-t from-zinc-900 via-zinc-900/80 -z-[1]" -->
  </div>
</Layout>
