---
import HomeIcon from "@/icons/Home.astro"
import SearchIcon from "@/icons/Search.astro"
import { playlists } from "@/lib/data"
import type { Image, PlaylistType } from "@/types/types"
import { getUser, getUserPlaylists } from "@/utils/user"
import SideMenuCard from "./SideMenuCard.astro"
import SideMenuItem from "./SideMenuItem.astro"
import YourLibraryMenu from "./YourLibraryMenu.astro"
import UserSideMenuCard from "./UserSideMenuCard.astro"

let name = ""
let image: Image[] = []
let userPlaylists:PlaylistType[] = []
const token = Astro.cookies.get("access_token")?.value
if (token) {
  const res = await getUser(token)
  const playlistResponse = await getUserPlaylists(token)
  userPlaylists = playlistResponse.items
  const { display_name, images } = res
  name = display_name
  image.push(images[0])
}

---

<nav class="flex flex-col flex-1 gap-2">
  <div class="p-2 bg-zinc-900 rounded-lg">
    <ul class="">
      <SideMenuItem href="/">
        <HomeIcon />
        <span class="ml-1">Home</span>
      </SideMenuItem>
      <SideMenuItem href="/">
        <SearchIcon />
        <span class="ml-1">Search</span>
      </SideMenuItem>
    </ul>
  </div>
  <div class="p-2 bg-zinc-900 rounded-lg flex-1">
    <ul class="">
      <YourLibraryMenu href="/" />

      {
       userPlaylists.length>1 ?
       userPlaylists.map(playlist => (
            <UserSideMenuCard id={playlist.id} title={playlist.name} cover={playlist.images[0].url} owner={playlist.owner.display_name}/>
          ))
          :
      playlists.map((playlists) => <SideMenuCard playlist={playlists} />)}
    </ul>
  </div>
</nav>
