---
import ButtonPlaySong from "@/components/ButtonPlaySong"
import SongTitle from "@/components/SongTitle"
import TimeIcon from "@/icons/Time.astro"
import type { Song } from "@/lib/data"
import HeartButton from "./HeartButton"
interface Props {
  songs: Song[]
}

const { songs } = Astro.props
---

<table class="table-auto text-left min-w-full divide-y-2 divide-gray-500/20">
  <thead class="text-sm text-zinc-400">
    <th class="pl-4 w-6 text-center text-lg">#</th>
    <th class="px-4 py-2 font-normal">Title</th>
    <th class="px-4 py-2 font-normal">Album</th>
    <th class="w-6"></th>
    <th class="px-4 py-2 font-normal"><TimeIcon /></th>
  </thead>
  <tbody class="">
    <td class="h-[20px]"></td>
    {
      songs.map((song, index) => (
        <tr class="group border-separate border-spacing-0 text-sm text-gray-300/80 hover:bg-white/10 hover:text-white transition-all duration-300">
          <td class="pl-4 py-2 rounded-tl-[4px] rounded-bl-[4px] text-base">
            <div class="group relative items-center">
              <ButtonPlaySong
                songId={song.id}
                playlistId={song.albumId}
                index={index + 1}
                client:visible
              />
            </div>
          </td>
          <td class="px-4 py-2">
            <div class="playlist-item flex flex-row relative  gap-2  ">
              <picture class="aspect-square w-11 h-11 flex-none">
                <img
                  src={song.image}
                  alt={`${song.title} by ${song.artists}`}
                  class="object-cover w-11 h-11 "
                />
              </picture>
              <div class="flex flex-auto flex-col px-2 justify-start align-baseline  ">
                <SongTitle song={song} client:visible />
              </div>
            </div>
          </td>
          <td class="px-4 py-2">{song.album}</td>
          <td class="opacity-0 group-hover:opacity-100 pt-1">
            <HeartButton className="w-4 h-4" client:visible />
          </td>
          <td class="px-4 py-2 rounded-tr-[4px] rounded-br-[4px] text-zinc-400">
            {song.duration}
          </td>
        </tr>
      ))
    }
  </tbody>
</table>
